{% extends 'base.html' %}
{%block dop_info%}
<link type="text/css" href="../../static/site_review/css/forms.css" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="forma">
    <div class="head">
    <p>Отзыв</p>

    <form action="" method="POST" class="form-container">
        {% csrf_token %}
        {% for f in form %}
            <div class="form-group">
                <div class="bukvi">
                    <p>{{ f.label }}</p>
                </div>
                <div class="pole-forma">{{ f }}</div>
                <div class="form_error">{{ f.errors }}</div>
            </div>
        {% endfor %}
        <div class="form-submit">
            <button type="submit">Отправить</button>
        </div>
    </form>
    </div>
</div>
{% endblock %}