{% extends 'base.html' %}
{% block dop_info %}
<link type="text/css" href="../../static/site_review/css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="posts">
    <ul>
        {% for p in posts %}
            {% if forloop.counter|divisibleby:2 %}
            <li style="background-color: #F7F8FA;">
            {% else %}
            <li style="background-color: #FFFFFF;">
            {% endif %}
                <div class="like-container">
                    <div class="like2">
                        <div class="like-block">
                            {% if p.percent_pos >= 50 %}
                            <p>{{p.percent_pos|floatformat:0}}%</p>
                                <i class="bi bi-hand-thumbs-up"></i>
                            {% else %}
                            <p>{{p.percent_neg|floatformat:0}}</p>
                                <i class="bi bi-hand-thumbs-down"></i>
                            {% endif %}
                        </div>
                        <p>Отзывов {{p.total_reviews}}</p>
                    </div>
                </div>
                <div class="company-container">
                    <a href="{{p.get_absolute_url}}">{{p.company_name}}</a>
                </div>
                <div class="review-container">
                    <a href="{% url 'form' %}?company={{p.company_name}}">Добавить отзыв о компании</a>
                </div>
            </li>
            </li>
            <!-- <div class="line-mini"></div> -->
        {% endfor %}
    </ul>
</div>

{% endblock %}