{% extends 'base.html' %}
{% block dop_info %}
<link type="text/css" href="../../static/site_review/css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="posts">
    <ul>
        {% for p in posts %}
            <li>
                <div class="like-container">
                    <div class="like2">
                        <div class="like-block">
                            <p>{{p.percent|floatformat:0}}%</p>
                            {% if p.percent > 50 %}
                                <i class="bi bi-hand-thumbs-up"></i>
                            {% else %}
                                <i class="bi bi-hand-thumbs-down"></i>
                            {% endif %}
                        </div>
                        <p>Отзывов {{p.total_reviews}}</p>
                    </div>
                </div>
                <div class="company-container">
                    <a href="{{p.get_absolute_url}}">{{p.company_name}}</a>
                </div>
                <div class="review-container">
                    <a href="form/">Добавить отзыв о компании</a>
                </div>
            </li>
            <div class="line-mini"></div>
        {% endfor %}
    </ul>
</div>

{% endblock %}