<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" href="../../static/site_review/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	{% block dop_info %}
	{% endblock %}

	<title>Главная страница</title>
</head>
<body>
<header>
	<div class="menu">
		<div class="logo">
			<svg width="5.5vw" height="5.5vw" viewBox="0 0 104 104" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="52" cy="52" r="52" fill="#93D7CE"/>
			</svg>					
		</div>
		<!-- <div class="void"></div> -->
		<ul>
			<div class="container-otchet">
				<li><a href="form/">Добавить отчет</a></li>
				<li><a href="/">Отзывы о компаниях</a></li>
			</div>
			<div class="d1">
				<form class="" role="Поиск..." method="get" action="{% url 'search' %}">
				<input type="search" class="form-control" placeholder="Поиск..." aria-label="Search" name='do' autocomplete="off" id="search"><button type="submit"><i class="bi bi-search"></i></button>
				
				</form>
			  </div>
		</ul>
	</div>
	
</header>
<div class="line"></div>

<main role="main">
	{% block content %}
	{% endblock %}
</main>
<div class="line"></div>
	
<footer class="footer">
	<ul>
	<li><div class="footer-authors">
		<ul class="authors">
			<li>Авторы</li>
			<li>Владислав Плюснин</li>
			<li>Дмитрий Федоров</li>
		</ul>
	</div>
	</li>
	<li><div class="footer-githubs">
		<ul class="authors">
			<li>Github</li>
			<li><a href="#">VladPI78916</a></li>
			<li><a href="#">Birobizhan</a></li>
		</ul>
	</div>
	</li>
	<li><div class="footer-mail">
		<ul class="authors">
			<li>Обратная связь</li>
			<li>@gmail.com</li>
			<li>fedorovd2005@gmail.com</li>
		</ul>
	</div>
	</li>
	</ul>
		
</footer>
</body>
</html>