.posts ul li {
	max-width: 100%;
	width: 100vw;
	height: 12vh;
	display: flex;
	align-items: center;
	text-align: center;
	
}
.like-container{
	width: 17vw;
	height: 12vh;
	display: flex;
	align-items: center;
	justify-content:center;
	font-size: 1.375vw;
}
.like2{
	display: inline;	
	
	
}
.like-block{
	display: flex;
	font-size: 1.875vw;
}
.company-container{
	font-size: 1.875vw;
	width: 36vw;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 12vh;
	margin-left: 0.625vw;
}

.company-container a{
	text-decoration: none;
	color:black;
	transition: color 0.5s;
  }
  .company-container a:hover{
	color: #8d8d8e;
  }
.review-container{
	width: 47vw;
	height: 12vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.625vw;
}
.review-container a{
	text-decoration: none;
	color:black;
	transition: color 0.5s;
  }
  .review-container a:hover{
	color: #8d8d8e;
  }
.bi-hand-thumbs-up{
	color: #5ADA51;
}

.bi-hand-thumbs-down{
	color: #DF585A;
}

.line-mini{
	width: 100%;
	border-bottom: 0.225vw solid #88D4D0;
}