/* *{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

nav{
	background: white;
	width: 100%;
	height: 120px;
	box-sizing: border-box;
  }

 .menu{
	width: 100%;
	height: 126px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	align-items: center;
	vertical-align: middle;

  }
 .logo{
	color: #fff;
	width: 557px;
	align-items: center;
	height: 120px;
	text-align: left;
	vertical-align: middle;

  }


.menu ul{
		display: flex;
	}
  .menu ul li{
	list-style: none;
	
  }
.container-otchet{
	display: flex;
	height: 126px;
	align-items: center;
	vertical-align: middle;

}

 .otchet{
	text-align: center;
	width: 320px;
	height: 126px;
	text-decoration: none;
	font-size: 23px;
	vertical-align: middle;
	transition: all 0.3s ease;
  }


  } */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Avenir', sans-serif;
}
html, body {
    height: 100%;
   }
body{
	margin: 0;
  	display: flex;
  	flex-direction: column;
	  overflow-x: hidden;
}

  .menu{
	width: 100vw;
	height: 9.5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5625vw;
	background-color: #222222;
	color: #eeeeee;
  }


  .logo{
	width: 35vw;
	margin-left: 2vw;
	height: 12vh;
	display: flex;
	justify-content:left;

	align-items: center;

}

  .menu ul{
	display: flex;
	max-width: 100%;
	width: 65vw;
	height: 12vh;
	list-style: none;
	align-items: center;
	justify-content: center;
	color: #eeeeee;

  }

  .container-otchet{
	width: 80%;
	display: flex;
	text-align: center;
	font-weight: bold;
	align-items: center;
	
  }
  .container-otchet li{
	width: 50%;
  }

  .container-otchet li a{
	text-decoration: none;
	color: #eeeeee;
	transition: color 0.5s;
  }
  .container-otchet li a:hover{
	color: #8d8d8e;
  }


  .d1{
	max-width: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
  }

  .d1 form{
	max-width: 100%;
  }
  .d1 input {
	width: 40%;
	border: none;
	outline: none;
	font-size: 1.4375vw;
	background: white;
	background-color: #222222;
	border-bottom: 0.1875vw solid #9E9C9C;
	
  }

  .d1 input:focus{
	color: black;
  }
  input[type="search"]::-webkit-search-cancel-button {
	display: none;
  }
  .d1 button {
	background-color: #222222;
	width: 30%;
	text-align: left;
	font-size: 1.6875vw;
	border: none;
	border-radius: 0 0.3125vw 0.3125vw 0;
	cursor: pointer;
	
  }

  .line{
	width: 100%;
	border-bottom: 0.4375vw solid #222222;
  }

main{
	flex: 1 0 auto;
}
.footer{
	flex-shrink: 0;
	height: 12vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #353535;
	color: #eeeeee;

}
.footer ul{
	list-style: none;
	height: 12vh;

}

.footer ul li{
	width: 40vh;
	display:inline-block;
	

}
.authors{
	text-align: center;
	align-items: center;
}
.footer-authors ul{
	width: 20%;
	display: grid;
	

}
.footer-githubs ul{

	width: 20vh;
	display: grid;

}
.footer-mail ul{
	width: 20vh;
	display: grid;
}


.authors li a{
	text-decoration: underline;
	color: #eeeeee;
	transition: color 0.5s;
  }
  .authors li a:hover{
	color: #8d8d8e;
  }
  .authors li{
	margin-bottom: 1.2vh;
  }
  .authors li:first-child{
	font-size: 1.125vw;
  }